body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}

.student{
    border: 2px solid black;
    width: 70vw;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 120px;
    border-radius: 125px;
}

.container {
    width: 50%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
}
input {
    padding:10px;
    width: 50%;
    margin-bottom: 1em;
}
button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
    border-radius: 25px;
}

h1{
    text-align: center;
}